@import compass/css3/transform
@import compass/css3/transition
$width: 100%
$height: 500px
#features
    background-color: transparent
    color: $light
    height: $height
    position: relative
    +perspective($height)

#cube
    +transform-style(preserve-3d)
    width: 100%
    height: 100%
    +transition(transform 1s)
    .face
        width: $width
        height: 100%
        display: block
        background-color: $dark
        position: absolute
        font-size: 1.2em
        +zigzag-top
    .front
        -webkit-transform: rotateX(  0deg) translateZ($height/2)
    .bottom
        -webkit-transform: rotateX( 90deg) translateZ($height/2)
    .back
        -webkit-transform: rotateX(180deg) translateZ($height/2)
    .top
        -webkit-transform: rotateX(270deg) translateZ($height/2)

#cube // show front
    -webkit-transform: translateZ(-$height/2)
.for-editors #cube // show bottom
    -webkit-transform: translateZ(-$height/2) rotateX( 90deg)
.for-organizers #cube // show back
    -webkit-transform: translateZ(-$height/2) rotateX(180deg)
.for-makers #cube // show top
    -webkit-transform: translateZ(-$height/2) rotateX(270deg)
