!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Pricing • Publishist
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css(app) styles/normalize.css
    link(rel='stylesheet', href='components/normalize-css/normalize.css')
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js(app) scripts/modernizr.js
    script(src='components/modernizr/modernizr.js')
    // endbuild

  body.bricks
    .logo
      a(href="index.html") Publishist
    h1 One Simple Price
    .pricing-chart
      .pricing
        span.currency $
        span.price 150
        small per issue
      ul
        li
          strong unlimited&nbsp;
          | staff
        li
          strong unlimited&nbsp;
          | submissions per month
        li Restrict who sees authors' names
        li Restrict who sees submissions' scores
        li Control visibility options on an issue-by-issue basis
        li Manage real-life meetings of staff
        li Easily publish winners to the web
        li Control page order of published issues

    //
       Google Analytics: change UA-XXXXX-X to be your site's ID.
    // script.
    //   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    //   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    //   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    //   s.parentNode.insertBefore(g,s)}(document,'script'));


